* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    /* background-image: linear-gradient(to bottom right, #76bde1, #5bd4ec); */
    /* background-color: beige; */
    background-color: #1d1d1d;

}

body {
    /* background-color: floralwhite; */

    color: white;
    font-family: 'Poppins', sans-serif;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: khaki; */
    color: white;
    width: 100%;
    /* position: fixed; */
    
}

.nav-bar{
    position: fixed;
    background-color: #1d1d1d;
    z-index: 1000;  
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li:hover {
    
    transform: scale(1.15);
    color: #2272FF;
    
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


nav ul li a{
    text-decoration: none;
    color: inherit; 
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.left {
    font-size: 1.5rem;
}





/*  */


/* nav .right a{
    text-transform: uppercase;
} */

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    /* background-color: green; */
    
    /* background-image: linear-gradient(to right, #38A2D7, #561139); */
}

.firstSection div {
    width: 60%;
    
}

.leftSection {
    /* color: black; */
    /* color: white; */
    margin-top: 80px;
    font-size: 3rem;
    max-width: 100%;
    /* border: 1px solid red; */
    /* background-image: url(Images/bg-gif.gif); */
    /* border-radius: 50%; */
   

}

.leftSection .buttons {
    display: flex;
    flex-direction: row;

    max-width: 100%;
    width: 100%;
    justify-content: left;
    align-content: center;
    padding: 25px;

    /* border: 1px solid red; */
}

.leftSection .buttons>button {

    padding: 2%;
    border-radius: 14px;
    margin: 1%;
    max-width: fit-content;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    background-color: #2272FF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.leftSection .buttons>button:hover {
    background-color: #2b62c0;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #1d1d1d;
}



#element {
    color: #2272FF;
}



.rightSection {
    color: white;
}

.rightSection {
    width: 100%;
    /* or any specific width you need */
    max-width: 100%;
    /* ensures the div doesn't exceed its parent's width */
    overflow: hidden;
    /* hides any overflow content */


}

.rightSection img {
    width: 100%;
    /* ensures the image doesn't exceed the div's width */
    height: max-content;
    /* maintains the image aspect ratio */
    display: block;
    /* removes any extra space below the image */

    border-radius: 51%;
    /* box-shadow: 0 0 25px var(--main-color); */
    cursor: pointer;
    /* transition: 0.4s ease-in-out; */

    /* border-radius: 100%; */
    /* box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; */

}

.contrastMatching {
    /* color: #7F675B; */
    color: #6a9ffa;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    margin: 23px;
    border: solid black;
    /* background-color: yellow; */
}


.firstBlock,
.secondBlock,
.thirdBlock,
.fourthBlock {
    width: 100%;
    /* background-color: green; */
    border: 20px, #2272FF;
}

.second-section {
    display: flex;
    flex-direction: column;
    margin: 23px;
    width: 70%;
    /* border: solid black; */
    /* border-style: inset; */
    color: white;
    align-items: center;
    padding: 20px;
    
    /* background-color: #f9f9f9; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.second-section .skills {
    font-size: 50px;
    margin-bottom: 10px;
}

.second-section,
.skills-description {
    font-size: 18px;

    text-align: center;
}

.tech-used {
    display: flex;
    width: 100%;
    justify-content: space-around;

    padding: 5%;
}

.backend,
.frontend,
.languages {
    width: 50%;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 20px;
    /* background-color: #fff; */
    /* background-image: linear-gradient(180deg, #38A2D7, #561139); */
    /* box-shadow: 8px 8px 8px 8px blueviolet; */
    margin: 2%;
    box-shadow: 0 4px 8px 0 #2272FF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.backend-text,
.frontend-text,
.language-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}

.backend-logos,
.frontend-logos,
.language-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.tech-logo {
    /* padding: 10px 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px inset black;
    border-radius: 15px;
    /* background-color: #e0e0e0; */
    font-size: 16px;
    text-align: center;
}

.tech-logo img{
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: auto;
}

.backend:hover,
.frontend:hover,
.languages:hover {
    background-color: #1d1d1d;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #2272FF;
}

@media (max-width: 768px) {
    .tech-used {
        flex-direction: column;
        align-items: center;
    }

    .backend,
    .frontend,
    .languages {
        width: 80%;
        margin-bottom: 20px;
    }
}


/* Projects */

.project-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    
    margin: 23px;
    /* border: solid black; */
    /* border-style: inset; */
    color: white;
    align-items: center;
    padding: 20px;
    /* border-radius: 10px; */
    /* background-color: #f9f9f9; */
    box-shadow: 0 4px 8px 0 #2272FF;
   
}

.project-section .project {
    font-size: 50px;
    margin-bottom: 10px;
}

.project-section,
.project-description {
    font-size: 15px;

    text-align: center;
}


.project-used {
    display: flex;
    width: 100%;
    justify-content: space-around;

    padding: 5%;
}

.project-card {
    width: 45%;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 20px;
    /* background-color: #fff; */
    /* background-image: linear-gradient(180deg, #38A2D7, #561139); */
    /* box-shadow: 8px 8px 8px 8px blueviolet; */
    margin: 2%;
    box-shadow: 0 4px 8px 0 #2272FF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-info small{
    color: gray;
}

.project-text {
    font-size: 30px;
    text-align: center;
}

.project-tags,
.frontend-logos,
.language-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.project-tag {
    padding: 2px 2px;
    border: 1px #337bf8;
    border-radius: 15px;
    /* background-color: #e0e0e0; */
    font-size: 15px;
    text-align: center;
    color: #2272FF;
    background-color:  #2b2a2a;
}

.project-detail {

    /* Adjust as needed */
    
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: justify;
    color: gray;
    hyphens: auto;
    letter-spacing: 0px;
    word-spacing: -2px;
}

.read-more {
    color: #2272FF;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.expanded  {
    max-height: none;
}

.project-card{
    position: relative;
}

.ribbon {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #2272FF;
    color: white;
  }

.project-card img{
    overflow: hidden;
    width: 275px;
    height: 250px;
}

.project-card:hover
 {
    background-color: #1d1d1d;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #2272FF;
}

@media (max-width: 768px) {
    .project-tag {
        flex-direction: column;
        align-items: center;
    }

    .project-card{
        width: 80%;
        margin-bottom: 20px;
    }
}


/*  */




.timeline-section {

    width: 50%;
    
}

.timeline-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.timeline {
    position: relative;

    /* margin: 100px auto; */
    
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 62%;
    margin-left: 350px;
    z-index: 1;
    background: #2272FF;
    
    animation: moveline 2s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.container {
    /* padding: 10px 10px; */
    position: relative;
    width: 100%;

    margin-top: 5%;
    /* animation : movedown 1s linear forwards;
    opacity: 0; */
   

}

.content:hover {

    background-color: #1d1d1d;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #2272FF;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    position: relative;
    font-size: 1rem;
    background-color: #1d1d1d;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: white;
    box-shadow: 3px 3px 3px 3px #2272FF;
    

}

.content-first{
    display: flex;
    flex-direction: row;
   
}

.content-first img{
    width: 75px;
    max-height: 50px;
    
    margin-top: 2%;
    margin-right: 1%;
}

.content-first-right{
    display: flex;
    flex-direction: column;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 1s;
}

.container:nth-child(2) {
    animation-delay: 2s;
}

.container:nth-child(3) {
    animation-delay: 3s;
}


.left-container {
    left: 0%
}

.first-img{
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -80px;
    top: 23px;
    z-index: 32px;
}

.content h2 {
    font-weight: 600;
    color: white;
}

.content small {
    display: inline-block;
    margin-bottom: 5px;
    color: grey;
}

.content p {
    color: grey;
}


.cover-section, .cover-section-experience {
    width: 100%;
    /* margin: 100px 100px 0px 100px; */
    padding : 60px;
    margin: 1px;;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;

    justify-content: center;
    /* background-image: url(Images/galaxy.jpg); */
    background-color: #1d1d1d;
    /* clip-path: polygon(0 20%, 15% 0, 100% 15%, 100% 100%, 0 100%); */
   
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #561139;
    right: -15px;
}

.fourth-section {
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    align-items: center;
    padding: 20px;
    margin: 23px;
    box-shadow: 0 4px 8px 0 #2272FF;
    border-radius: 10px;
    /* ground-color: red;back */
}

.fourth-section .contact {
    margin: 20px;
    font-size: 3rem;
    /* border: 1px solid red; */
}

.fourth-section .contact-table {
    width: 100%;
}

.fourth-section .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
}

.fourth-section .row .text-field [type=text] {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 10px;
}

input[type=text],
[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #1d1d1d;
}

#lmessage {
    height: 200px;
}

input[type=submit] {
    width: 100%;
    background-color: #2272FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4c89f3;
}



.footer {
    display: flex;
    flex-direction: column;
    /* background-color: #561139; */
    /* background-image: linear-gradient(180deg, #38A2D7, #561139); */
    /* justify-items: center; */
    align-items: center;
    padding: 2%;
    color: white;
    /* background-color: #ff9800; */
    
    clip-path: polygon(0 20%, 15% 0, 100% 15%, 100% 100%, 0 100%);
    
}

.footer-1 {
    font-size: 1.5rem;
    color: #2272FF;
}

.footer .footer-2 {
    display: flex;
    flex-direction: row;
    padding: 2px;
    width: 100%;
    justify-content: center;

}

.footer .footer-2>div:hover{
    
    transform: scale(1.15);
    color: #2272FF;
    /* background-color: red; */
}

.footer-2>div {
    margin: 1%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer .footer-2 > div:hover * {
    color: inherit; /* Inherit color from parent */
}



.footer .social-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.footer .social-media .link {
    margin-right: 1%;
}

.footer .social-media .link img {
    margin-right: 10px;
    margin-bottom: 1%;
    border-radius: 5px;
    height: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer .social-media .link img:hover {
    transform: scale(1.25);
}

.footer .copyright {
    color: gray;
}


